<div class="d-flex flex-column align-items-end flex-wrap gap-2 me-5">
  <div class="d-flex mt-5 gap-2">
    <input type="text">
    <button class="btn btn-sm  btn-dark"><a class="nav-link" href="/cadastro">Pesquisar</a></button>
  </div>

</div>

<button class="ms-5 btn btn-dark"><a class="nav-link" href="/cadastro">Novo Cadastro</a></button>

<table *ngIf="tabela" class="ms-5 table table-hover table-dark table-striped table-border mt-5"
  style="max-width: 1280px;">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of clientes; index as i">
      <td style="max-width: 150px;">{{c.nome}}</td>
      <td style="max-width: 120px;">{{c.cpf}}</td>
      <td style="max-width: 80px;">{{c.cidade}}</td>
      <td style="max-width: 60px;">{{c.estado}}</td>
      <td class="">
        <button type="button" value="alterar" (click)="selecionarCliente(c)" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class=" mt-1 me-2 btn btn-primary">Ver/Editar</button>
        <button type="button" value="remover" (click)="deletar(c.id)" class=" mt-1 me-2 btn btn-danger">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ver/Editar Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 p-1">
          <div class="col-md-6">
            <label for="nome" class="form-label">Nome Completo</label>
            <input [(ngModel)]="clienteSelecionado.nome" name="nome" class="form-control" id="nome">
          </div>
          <div class="col-md-6">
            <label for="data_nascimento" class="form-label">Data de Nascimento</label>
            <input [(ngModel)]="clienteSelecionado.data_nascimento" name="data_nascimento" type="date"
              class="form-control" id="data_nascimento">
          </div>

          <div class="col-md-6">
            <label for="cpf" class="form-label">CPF</label>
            <input [(ngModel)]="clienteSelecionado.cpf" name="cpf" type="text" class="form-control" id="cpf">
          </div>

          <div class="col-md-6">
            <label for="cep" class="form-label">CEP</label>
            <input [(ngModel)]="clienteSelecionado.cep" name="cep" type="text" class="form-control" id="cep">
          </div>
          <div class="col-12">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input [(ngModel)]="clienteSelecionado.logradouro" name="logradouro" class="form-control" id="logradouro"
              readonly>
          </div>
          <div class="col-12">
            <label for="numero" class="form-label">Número</label>
            <input [(ngModel)]="clienteSelecionado.numero" name="numero" class="form-control" id="numero">
          </div>
          <div class="col-12">
            <label for="complemento" class="form-label">Complemento</label>
            <input [(ngModel)]="clienteSelecionado.complemento" name="complemento" class="form-control"
              id="complemento">
          </div>
          <div class="col-12">
            <label for="bairro" class="form-label">Bairro</label>
            <input [(ngModel)]="clienteSelecionado.bairro" name="bairro" class="form-control" id="bairro" readonly>
          </div>
          <div class="col-md-6">
            <label for="cidade" class="form-label">Cidade</label>
            <input [(ngModel)]="clienteSelecionado.cidade" name="cidade" class="form-control" id="cidade" readonly>
          </div>
          <div class="col-md-6">
            <label for="estado" class="form-label">Estado</label>
            <input [(ngModel)]="clienteSelecionado.estado" name="estado" class="form-control" id="estado" readonly>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Voltar</button>
        <button type="button" class="btn btn-primary" (click)="salvarAlteracoes()">Salvar alterações</button>
      </div>
    </div>
  </div>
</div>
